In [2]:
import pandas as pd

Series - 1D array like object but can hold any data type. It is similar to a column in a table.

In [9]:
#create series frm list
data =[1,2,3,4,5]
series = pd.Series(data)
print(type(series))

<class 'pandas.core.series.Series'>

In [4]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#create series frmi doctionary
data = {'a':1, 'c':3, 'b':2}
series_dict= pd.Series(data)

<class 'pandas.core.series.Series'>

In [7]:
series_dict

a    1
c    3
b    2
dtype: int64

giving custom labelling

In [ ]:
#no. of index should be queal to no. of elements
data = [10,20,30]
index=['a','b','c']

pd.Series(data,index = index)

a    10
b    20
c    30
dtype: int64

DATAFRAMES

In [24]:
#dataframes: 2 dimenensional : similar to table 

#crate a dataframe  from a dictionary of lists
data ={
    'Name':['aayush', 'golu', 'jaan'],
    'age':[1,2,3],
    'city':['Floria', 'NY', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

     Name  age     city
0  aayush    1   Floria
1    golu    2       NY
2    jaan    3  Chicago

In [22]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#in numpy (just example)
import numpy as np
np.array(df)

array([['aayush', 1, 'Floria'],
       ['golu', 2, 'NY'],
       ['jaan', 3, 'Chicago']], dtype=object)

Create a dfrae from a list of dictionalry

In [31]:
data = [
        {'Name':'aayush','age':'25', 'city':"florida"},
        {'Name':'golu','age':'24', 'city':"chicago"},
        {'Name':'jaan','age':'1', 'city':"Kolkata"}
]

In [32]:
dfm = pd.DataFrame(data)

In [33]:
print(dfm)

     Name age     city
0  aayush  25  florida
1    golu  24  chicago
2    jaan   1  Kolkata

READ ANY CSV FILE. HOW?

In [36]:
df = pd.read_csv('Meta-Glasses-Reviews.csv')
df.head()

,reviewID,name,date,verifiedPurchase,rating,helpful,title,review,profile,country,reviewLink,reviewImage,helpful_aug,is_positive_review,helpfulness_score
0,R26GJW65W9X4OB,HebeZ,"March 9, 2025",True,4.0,12,Solid Smart Glasses with Room for Improvement,The Ray-Ban Meta Glasses in the classic Wayfar...,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R26...,NaN,15,1,6.048932
1,R1LPZH3QJAOVAI,Karla silva,"December 4, 2025",True,5.0,NaN,Excelentes a mi esposo le encantan,Excelentes a mi esposo le encantan,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1L...,NaN,2,1,5.397819
2,R1ASIRA3BE7065,Trinison12,"November 12, 2025",True,5.0,NaN,Now you see me,"I purchased these for my fiancé, for our anniv...",https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1A...,NaN,0,1,4.486596
3,R1W8SXTGV55AUH,Randy Harris,"December 7, 2025",True,4.0,8,"Great smart shades, but need more power",NaN,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1W...,https://images-na.ssl-images-amazon.com/images...,7,1,5.926401
4,R1UTS0OJVZF1A1,SpunkyD,"October 12, 2025",True,3.0,5,Nice video taking!,I recently upgraded from the Stories to these ...,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R1U...,NaN,5,0,3.209702

In [ ]:
df.tail()   # from bottom

,reviewID,name,date,verifiedPurchase,rating,helpful,title,review,profile,country,reviewLink,reviewImage,helpful_aug,is_positive_review,helpfulness_score
9995,R11G1TPE8GOJN2,C.C.,"July 23, 2025",True,4.0,2,Sharp sunglasses with cool tech,"Admittedly, I purchased the sunglasses on the ...",https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R11...,NaN,6,1,5.190046
9996,R26NJCL81JUD26,Norma rodriguez,"December 25, 2025",True,5.0,NaN,Todo funciona bien y cumple con todo lo que es...,Excelentes,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R26...,NaN,0,1,5.439599
9997,R26NJCL81JUD26,Norma rodriguez,"December 25, 2025",True,5.0,NaN,Todo funciona bien y cumple con todo lo que es...,Excelentes,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R26...,NaN,0,1,4.752219
9998,R2APVAY7XFP0P5,Dj-KokoG,"September 17, 2024",True,4.0,95,I didn't know what to expect,First of all I will say I think they cost too ...,https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R2A...,NaN,98,1,7.610089
9999,R10DOA6X6D3X6U,Colin Obeso,"December 16, 2025",True,3.0,NaN,Previously owned/refurbished?,"I did not order a previously owned, used, open...",https://www.amazon.com/gp/profile/amzn1.accoun...,United States,https://www.amazon.com/gp/customer-reviews/R10...,https://images-na.ssl-images-amazon.com/images...,2,0,2.492011